@font-face {
    font-family: 'Kharkiv-Tone';
    src: url('../fonts/kharkiv_tone/KharkivTone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    /*font developer: @kattte_drozd; @kharkiv_tone*/
}

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

h1{
    font-family: 'Kharkiv-Tone';
    font-size: clamp(18px, 2.5vw, 32px)
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw; /* відступи відносні */
    height: clamp(60px, 8vh, 100px); /* мінімум 60px, максимум 100px */
    background-color: #C6292D;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px #00000040;
}
.header-text{
  text-decoration: none;
  color: #fff;
}

.logo{
    height: 80%;
    max-height: 80px;
}
.logo-white{
    background-color: #FFFFFF;
}


main {
    position: relative;
    width: 100%;
    height: calc(100vh - clamp(60px, 8vh, 100px));
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    filter: blur(10px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

/*Button on the start screen*/
.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #C6292D;
    border: none;
    text-decoration: none;
    color: white;
    font-family: 'Kharkiv-Tone';
    font-size: clamp(18px, 2.5vw, 32px); /* зменшується на малих екранах */
    padding: clamp(10px, 1.5vw, 16px) clamp(32px, 4vw, 62px); /* адаптивні відступи */

    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s;
}

.start-btn:hover {
    background-color: #A42124;
}

/* div for button for changin controller */
.controller-menu {
  position: absolute;
  top: 15%;
  right: -170px; /* за межами екрана */
  transition: right 0.4s ease;
  z-index: 5;
}

/* при наведенні на контейнер - виїжджає */
.controller-menu:hover {
  right: 0;
}

/* button */
#controller-btn {
  background-color: #C6292D;
  color: #C6292D;
  border: none;
  border-radius: 8px 0px 0px 8px;
  padding: 16px 14px;
  width: 190px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: clamp(14px, 1.3vw, 18px);
  transition: background-color 0.3s;
}

#controller-btn:hover {
  background-color: #A42124;
  color: #fff;
}

.dropdown {
  padding: 16px 0px;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 110%;
  right: 14px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.dropdown-item {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: row;
    padding: 16px 32px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: clamp(14px, 1.3vw, 18px);
    color: #000;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #E3E3E3;
}

.dropdown.show {
  display: flex;
}
#controller-btn.active {
  color: #fff;
  background-color: #C6292D;
}

.cursor-mode {
  cursor: url("../img/Cursor-active.png"), auto;
}

.joystick-mode {
  cursor: default;
}